[submodule "vendor/gopkg.in/mcuadros/go-syslog.v2"]
	path = vendor/gopkg.in/mcuadros/go-syslog.v2
	url = https://gopkg.in/mcuadros/go-syslog.v2
[submodule "vendor/github.com/satori/go.uuid"]
	path = vendor/github.com/satori/go.uuid
	url = https://github.com/satori/go.uuid
[submodule "vendor/github.com/aws/aws-sdk-go"]
	path = vendor/github.com/aws/aws-sdk-go
	url = https://github.com/aws/aws-sdk-go
